name: Build and Test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Build with Cargo
        run: cargo build --release --verbose

      - name: Run tests
        run: cargo test --release --verbose

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features

      - name: Run Formatter Check
        run: cargo fmt --all --check
